#home{
	margin-top: 70px;
	background: url(../images/background.jpg);
	background-size: cover;
	color: #FFFFFF;/*文字颜色*/
	text-align: center;
	width: 100%;
}
.mirror{
	width: 100%;
	height: 100%;
	background: rgba(255,251,240,0.5);
	padding: 50px 0;
}
#home img{
	margin: 0 auto;
	display: inline-block;
}

/*bbs*/
#bbs{
	padding: 30px 0;
	text-align: center;
}
#bbs .col-md-4:hover{
	padding: 15px;
	background: #f1f1f1;
	box-shadow: 1px 1px 4px #CCCCCC;
}
#bbs a{
	color: #212121;
	text-decoration: none;
}
#bbs img{
	margin: 0 auto;
}

/*html5*/
/*bootstrap*/
#html5,#others
{	background-color: #f8f8f8;
}


.ry-icon{
	background-color: #FFD7E9;
	color:#FFF;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-left: 20px;
}


/*course*/
#course{
	background:#F8F8F8 ;
	padding: 30px 0;
	text-align: center;
}
.course{
	background: #FFFFFF;
}
.course .btn{
	background: transparent;
	border: 1px solid pink;
	border-radius: 0px;
	color: peachpuff;
	margin:20px;
	padding: 5px 40px;
	transition: all 0.3s;
}
.course .btn:hover{
	background:palevioletred;
}

/*contac*/
#contact{
	background: url(../images/background.jpg);
	background-size:cover ;
	color: #ED5485;
}
#contact .form-control
{
	border: none;
	border-radius:0 ;
	height: 50px;
	margin-bottom: 20px;
}
#contact textarea.form-control{
	height: auto;
}
#contact input[type="submit"]{
	background-color: hotpink;
	color: #FFFFFF;
	font-weight: bold;
}
#contact input[type="submit"]:hover{
	background-color: pink;
	color: #FFFFFF;
	font-weight: bold;
	transition: all 0.3s
}

/*footer*/
footer{
	font-weight:400 ;
	text-align: center;
	padding: 5px;
}
