body {
    position: relative;
    font-family: Lato;
    font-size: 14px;
    background-color: #F9C7CF;
    filter:alpha(opacity=70);
    opacity: 0.8;
}

.main {
    position: relative;

}
.img {
    position: absolute;
    left: 50%;
    top: 655px;
    margin-left: -260px;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-image: url("./img/1.jpg");

}
.imgt {
    /*margin-top: 50px;*/
    /*float: right;*/
    /*margin-right: 90px;*/
    position: absolute;
    /*margin-right: -260px;*/
    right: 50%;
    z-index: 100;
    margin-right: -260px;
    top: 50px;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-image: url("./img/ttx.jpg");
}
.contain {
    position: absolute;
    width: 360px;
    top: 50px;
    left: 50%;
    margin-left: -180px;
}
.top {
    width: 100%;
    height: 45px;
    background: #FFE6EB;
    text-align: center;
    line-height: 45px;
    color: #5F4444;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.center {
    position: absolute;
    overflow:scroll;
    color:#5F4444;
    top: 45px;
    height: 600px;
    width: 100%;
    background: #FFE6EB;
    background-size: cover;
    background-image: url("./img/back.jpg");
    opacity:0.7;
}
.text-left {
    padding-left: 20px;
    margin-top: 10px;
    width: 50%;
}
.text-right {
    margin-left: 180px;
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: right;
}

.bottom {
    position: absolute;
    top:640px;
    height: 45px;
    width: 360px;
    color: #5F4444;
    background: #FFE6EB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bottom-left {
    padding-left: 20px;
    height: 45px;
    line-height: 45px;
}
.bottom-right {
    position: absolute;
    top: 0px;
    right: 20px;
    height: 45px;
    line-height: 45px;
}